.amenities {
    margin-block: 48px;

    &.modal-window {
        margin: 0;
    }

    .subtitle {
        padding-top: 10px;
        margin-bottom: 24px;
    }
}

.amenities-list ul {
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-auto-columns: max-content;

    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;

    li {
        display: flex;
        align-items: center;
        width: 50%;
        padding-bottom: 16px;

        &.amenitie-modal {
            padding: rem(24px);
            border-bottom: 1px solid $border-color;
            width: 100%;
        }
    }

    img {
        width: 24px;
        height: 24px;
        margin-inline-end: 19px;
    }
}

.list-modal {
    ul {
        display: block;
    }
}